<%= form_for(@holiday) do |f| %>
  <% if @holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

      <ul>
      <% @holiday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :client_id %>
    <%= select(:client ,:id,current_user.clients.collect {|c| [ c.name, c.id ] }, {:prompt => 'Select Client'}) %>
  </div>
  <div class="actions">
    <%= f.submit :class=>"btn"%>
  </div>
<% end %>
