<h1>Holiday</h1>
<p>
  <b>Title:</b>
  <%= @holiday.title %>
</p>

<p>
  <b>Description:</b>
  <%= @holiday.description %>
</p>

<p>
  <b>Date:</b>
  <%= @holiday.date %>
</p>
<hr>

<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', clients_path %>
