<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @holiday.title %>
</p>

<p>
  <b>Description:</b>
  <%= @holiday.description %>
</p>

<p>
  <b>Date:</b>
  <%= @holiday.date %>
</p>

<p>
  <b>Client:</b>
  <%= @holiday.client_id %>
</p>

<p>
  <b>User:</b>
  <%= @holiday.user_id %>
</p>


<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>
