<!DOCTYPE html>
<html>
<head>
  <title>HolidayWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header>
			<h1><%= if @title then @title else "Reminder" end %></h1>
			<p><%= link_to_unless_current ":Holiday Reminder", root_path %><p>
			<% if user_signed_in? %><%= link_to "User: #{current_user.email}", edit_user_registration_path(current_user), :class=>"username" %><% end %>
		</header>
		<div class="btn-group">
		  <% if user_signed_in? %>
		    <%= link_to_unless_current "Clients", clients_path, :class => "btn" %>
		    <%= link_to_unless_current "Sign Out", destroy_user_session_path, :method => :delete , :class => "btn" %>
		  <% else %>
		    <%= link_to_unless_current "Sign up", new_user_registration_path , :class => "btn" %>
		    <%= link_to_unless_current "Sign in", new_user_session_path , :class => "btn" %>
		  <% end %>
		</div>
		<div id="contenido">
			<% if flash[:notice] %>
				<div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">×</button>
				<%= notice %></div>
			<% end %>
       		<% if flash[:alert] %>
				<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">×</button>
				<%= alert %></div>
			<% end %>
			
			<div id="wrap">
				<div id="main" class="clear-top">
					<div class="row"> 
						<div class="span11">

							<%= yield %> 

						</div>
					</div>
				</div>
			</div>
		</div>
	
		<footer class="footer">pie de pagina</footer>

	</div>

</body>
</html>
